<div class="footer-container">
  <div class="brand">
    <a href="<%= logo.href; %>" target="_blank" rel="noopener">
      <img src="<%= logo.src; %>" alt="<%= logo.alt; %>">
    </a>
  </div>
  <nav>
    <ul class="nav-lists">
      <% navLists.forEach((navList) => { %>
      <li class="nav-list">
        <span class="nav-list-heading"><%= navList.heading; %></span>
        <ul class="nav-sublist">
        <% navList.items.forEach((navItem) => { %>
          <li class="nav-item">
            <a href="<%= navItem.href; %>" target="_blank" rel="noopener">
              <%- navItem.image; %>
              <%= navItem.name; %>
            </a>
          </li>
        <% }); %>
        </ul>
      </li>
      <% }); %>
      <li class="nav-list nav-privacy">
        <span class="nav-list-heading">Privacy & Use</span>
        <ul class="nav-sublist">
          <% privacyLinks.forEach((privacyLink) => { %>
          <li class="nav-item">
            <a href="<%= privacyLink.href; %>" target="_blank" rel="noopener"><%= privacyLink.name; %></a>
          </li>
          <% }); %>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="social-links">
    <p class="copyright"><%= copyrightText; %></p>
    <div class="social-container">
      <% socialLinks.forEach((link) => { %>
      <a target="_blank" rel="noopener" href="<%= link.href; %>">
        <%- link.icon; %>
      </a>
      <% }); %>
    </div>
  </div>
  <p class="legal"><%= legalText; %></p>
</div>